*{
    margin: 0;
    padding: 0;
}

.discord
{
    
    background-image: url(images/what-is-discord-1920x1080-c3d90ca45f57.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position:fixed;
    
   }
   nav a
   {
       text-decoration:none;
      text-align: center;
      padding: 0% 42%;
      line-height: 1050px;
      font-size:x-large;
      
    }
  